<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title data-react-helmet="true">MFE Demo App</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap"
    rel="stylesheet">
  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';" />
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <!-- KEY: use system js imports -->
  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="systemjs-importmap" src=<%= bucketUrl %>></script> -->
  <style>
    * {
      font-family: 'Raleway', sans-serif;
    }

    body {
      margin: 0;
      box-sizing: border-box;
      overflow: hidden;
    }

    .main {
      grid-area: main;
    }

    .sidebar {
      grid-area: sidebar;
    }

    .content {
      display: block;
    }
    .page-loader{
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99999;
    }

    .lds-ripple {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }

    .lds-ripple div {
      position: absolute;
      border: 4px solid rgb(10, 64, 114);
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    .lds-ripple div:nth-child(2) {
      animation-delay: -0.5s;
    }

    @keyframes lds-ripple {
      0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
      }

      100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
      }
    }
  </style>
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.2/lib/system/single-spa.min.js",
        "react": "https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js",
        "react-dom": "https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js",
        "@buerto/root-config": "https://storage.googleapis.com/demo-spa/root-config/buerto-root-config.js",
        "@buerto/root-config/": "https://storage.googleapis.com/demo-spa/root-config/",
        "@buerto/navbar": "https://storage.googleapis.com/demo-spa/navbar/buerto-navbar.js",
        "@buerto/navbar/": "https://storage.googleapis.com/demo-spa/navbar/",
        "@buerto/sidebar": "https://storage.googleapis.com/demo-spa/sidebar/buerto-sidebar.js",
        "@buerto/sidebar/": "https://storage.googleapis.com/demo-spa/sidebar/",
        "@buerto/home": "https://storage.googleapis.com/demo-spa/home/buerto-home.js",
        "@buerto/home/": "https://storage.googleapis.com/demo-spa/home/"
      }
    }
  </script>
  <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@buerto/root-config": "//localhost:9000/buerto-root-config.js"
        }
      }
    </script>
    <!-- KEY: Enable GUI import map overrides on runtime-->
    <!-- https://github.com/joeldenning/import-map-overrides/blob/master/docs/ui.md -->
    <import-map-overrides-full dev-libs></import-map-overrides-full>
    <% } %>

      <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

      <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
      <% if (isLocal) { %>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
        <% } else { %>
          <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
          <% } %>
</head>

<body>
  <noscript> You need to enable JavaScript to run this app. </noscript>
  <script>
    System.prepareImport(true);
    System.import("@buerto/root-config");
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>